.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-default-black;
  border-radius: 200px;
  @include adaptiveDesktopToMobile('min-width', 210, 150);
  @include adaptiveDesktopToMobile('height', 60, 40);
  font-weight: 500;
  @include adaptiveDesktopToMobile('font-size', 20, 14);
  line-height: 120%;
  transition: $trans-default;
  width: fit-content;

  &:hover {
    background-color: lighten($color: $color-default-black, $amount: 15);
  }
}
