<section class="about" id="about">
  <div class="about__description h2">
    <div class="container">
      <span>VK WorkSpace</span> — это единая экосистема из&nbsp;пяти сервисов, которые помогают бизнесу на&nbsp;каждом этапе работы. <br><br>
      Здесь можно <span class="i">создать корпоративную почту</span> и&nbsp;<span class="i">личные облачные пространства</span>, <span class="i">настроить рассылки</span> и&nbsp;решить другие задачи.
    </div>
  </div>
  <div class="about__list-wrapper">
    <div class="container">
      <h2 class="about__list-title h2">В <span>VK WorkSpace</span> есть всё необходимое:</h2>
      <ul class="about__list text-m">
        <li class="about__list-item">
          <div class="about__list-item-number"><span>1</span></div>
          <div class="about__list-item-name">Управление пользователями</div>
        </li>
        <li class="about__list-item">
          <div class="about__list-item-number"><span>2</span></div>
          <div class="about__list-item-name">Персонализированная настройка каждого сервиса</div>
        </li>
        <li class="about__list-item">
          <div class="about__list-item-number"><span>3</span></div>
          <div class="about__list-item-name">Управление зоной DNS</div>
        </li>
        <li class="about__list-item">
          <div class="about__list-item-number"><span>4</span></div>
          <div class="about__list-item-name">Управление ОШС</div>
        </li>
        <li class="about__list-item">
          <div class="about__list-item-number"><span>5</span></div>
          <div class="about__list-item-name">Интеграции с LDAP</div>
        </li>
      </ul>
    </div>
  </div>
</section>









