<section class="formats">
  <div class="container">
    <h2 class="formats__title h1">У&nbsp;<span>VK&nbsp;WorkSpace</span> есть два формата:</h2>
    <ul class="formats__list">
      <li class="formats__format">
        <img src="img/content/format-photo-1.png" class="formats__format-photo" width="564" height="330">
        <div class="formats__format-name text-m">On-premise</div>
        <div class="formats__format-title text-m">На серверах для крупных компаний</div>
        <div class="formats__format-description text-s">Решение может функционировать в&nbsp;закрытом контуре</div>
      </li>
      <li class="formats__format">
        <img src="img/content/format-photo-2.png" class="formats__format-photo" width="564" height="330">
        <div class="formats__format-name text-m">SaaS-решение</div>
        <div class="formats__format-title text-m">Для среднего и&nbsp;малого бизнеса</div>
      </li>
    </ul>
  </div>
</section>