<section class="how" id="how">
  <div class="container">
    <h2 class="how__title h1">Как проходит<br> <span>Weekend Offer?</span></h2>
    <ul class="how__list">
      <li class="how__timeline">
        <div class="how__timeline-progress"></div>
      </li>
      <li class="how__item how__item--first">
        <div class="how__item-date">15 — 25 ноября</div>
        <h3 class="how__item-title text-m">Первая встреча</h3>
        <div class="how__item-description text-xs">
          Мы&nbsp;свяжемся с&nbsp;вами после получения заявки
          и&nbsp;договоримся о&nbsp;звонке на&nbsp;15&ndash;30&nbsp;минут. 
          Коротко расскажем о&nbsp;командах и&nbsp;выберем слот 
          для индивидуального онлайн-интервью в&nbsp;выходные.
        </div>
      </li>
      <li class="how__empty-item"></li>
      <li class="how__empty-item"></li>
      <li class="how__item">
        <div class="how__item-date">Суббота, 26 ноября</div>
        <h3 class="how__item-title text-m">Детальное знакомство</h3>
        <div class="how__item-description text-xs">
          В&nbsp;<b>10:00</b> по&nbsp;Москве выступят техлиды команд. 
          На&nbsp;общей онлайн-встрече вы&nbsp;узнаете про структуру 
          компании, процессы и&nbsp;задачи, которые предстоит 
          решать, и&nbsp;получите ответы на&nbsp;вопросы.<br><br>

          С&nbsp;<b>11:00 до&nbsp;19:00</b> пройдут индивидуальные технические 
          онлайн-собеседования, пообщаемся с&nbsp;вами в&nbsp;заранее 
          назначенное время.
        </div>
      </li>
      <li class="how__item">
        <div class="how__item-date">Воскресенье, 27 ноября</div>
        <h3 class="how__item-title text-m">Финальное собеседование</h3>
        <div class="how__item-description text-xs">
          Вы&nbsp;сможете пообщаться с&nbsp;понравившимися командами, 
          узнать больше о&nbsp;предстоящих вызовах 
          и&nbsp;получить ответы на&nbsp;вопросы. 
          Встречи будут проходить с&nbsp;11:00 до&nbsp;18:00.
        </div>
      </li>
      <li class="how__empty-item"></li>
      <li class="how__empty-item"></li>
      <li class="how__item">
        <h3 class="how__item-title text-m">Job Offer</h3>
        <div class="how__item-description text-xs">
          Уже в&nbsp;воскресенье вечером мы&nbsp;определим 
          лучших кандидатов и&nbsp;отправим им&nbsp;офферы.
        </div>
      </li>
    </ul>
  </div>
</section>