<section class="vacancies" id="vacancies">
  <div class="container">
    <ul class="vacancies__list" data-accordion="parent"> 
      <li class="vacancies__vacancy" data-accordion="element">
        <button class="vacancies__vacancy-name" data-accordion="button">Команда Python-разработчиков</button>
        <div class="vacancies__vacancy-content" data-accordion="content">
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            В&nbsp;нашей команде пять человек. Мы&nbsp;ищем коллег, которые отлично знают Python и&nbsp;Django, понимают, как работают высоконагруженные системы и&nbsp;как масштабируются сервисы.
          </div>
          <div class="vacancies__vacancy-item">
            <h3 class="vacancies__vacancy-item-title">Вам предстоит:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Заниматься продуктовыми задачами и&nbsp;рефакторингом</li>
              <li class="vacancies__vacancy-list-item">Улучшать инфраструктуру и&nbsp;производительность приложения</li>
              <li class="vacancies__vacancy-list-item">Писать Unit- и&nbsp;API-тесты</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--mobile-last">
            <h3 class="vacancies__vacancy-item-title">Наш стек:</h3>
            <ul class="vacancies__vacancy-skills">
              <li class="vacancies__vacancy-skill">Python</li>
              <li class="vacancies__vacancy-skill">Postgres</li>
              <li class="vacancies__vacancy-skill">Django</li>
              <li class="vacancies__vacancy-skill">Docker</li>
              <li class="vacancies__vacancy-skill">Redis</li>
              <li class="vacancies__vacancy-skill">Kubernetes</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--big">
            <h3 class="vacancies__vacancy-item-title">Почему у&nbsp;нас классно:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Мы&nbsp;погружены в&nbsp;продукт&nbsp;&mdash; работаем бок о&nbsp;бок с&nbsp;менеджерами, дизайнерами, аналитиками и&nbsp;QA</li>
              <li class="vacancies__vacancy-list-item">Сами оцениваем свои задачи по&nbsp;срокам</li>
              <li class="vacancies__vacancy-list-item">Работаем по&nbsp;фича-бранчам и&nbsp;практикуем код-ревью, у&nbsp;нас есть Unit-тесты, UI-автотесты и&nbsp;статический анализ кода</li>
              <li class="vacancies__vacancy-list-item">Постоянно учимся друг у&nbsp;друга</li>
              <li class="vacancies__vacancy-list-item">Очень гибкие в&nbsp;работе, всегда готовы меняться и&nbsp;прокачиваться</li>
            </ul>
          </div>
          <a href="https://team.vk.company/vacancy/28621/" class="vacancies__vacancy-link btn" target="_blank">Участвовать</a>
        </div>
      </li>
      <li class="vacancies__vacancy" data-accordion="element">
        <button class="vacancies__vacancy-name" data-accordion="button">Команды, в&nbsp;которые мы&nbsp;приглашаем фронтенд-разработчиков</button>
        <div class="vacancies__vacancy-content" data-accordion="content">
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            У&nbsp;нас несколько команд по&nbsp;продуктам VK&nbsp;WorkMail, VK&nbsp;WorkDisk, VK&nbsp;Calendar, VK&nbsp;WorkSpace. Мы&nbsp;ищем коллег, которые отлично знают&nbsp;JS и&nbsp;TypeScript, умеют проектировать&nbsp;UI и&nbsp;API в&nbsp;тесном взаимодействии с&nbsp;другими командами и&nbsp;проектами, понимают принципы построения архитектуры современных SPA-приложений (MV*, Flux и&nbsp;других).
          </div>
          <div class="vacancies__vacancy-item">
            <h3 class="vacancies__vacancy-item-title">Вам предстоит:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Заниматься продуктовыми задачами, разработкой&nbsp;UI и&nbsp;рефакторингом</li>
              <li class="vacancies__vacancy-list-item">Улучшать инфраструктуру и&nbsp;производительность приложения</li>
              <li class="vacancies__vacancy-list-item">Писать Unit- и&nbsp;UI-тесты</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--mobile-last">
            <h3 class="vacancies__vacancy-item-title">Наш стек:</h3>
            <ul class="vacancies__vacancy-skills">
              <li class="vacancies__vacancy-skill">JavaScript (ES5+) </li>
              <li class="vacancies__vacancy-skill">React </li>
              <li class="vacancies__vacancy-skill">TypeScript</li>
              <li class="vacancies__vacancy-skill">Redux</li>
              <li class="vacancies__vacancy-skill">Grunt/gulp/webpack</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--big">
            <h3 class="vacancies__vacancy-item-title">Почему у&nbsp;нас классно:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Мы&nbsp;погружены в&nbsp;продукт&nbsp;&mdash; работаем бок о&nbsp;бок с&nbsp;менеджерами, дизайнерами, аналитиками и&nbsp;QA</li>
              <li class="vacancies__vacancy-list-item">Сами оцениваем свои задачи по&nbsp;срокам</li>
              <li class="vacancies__vacancy-list-item">Работаем по&nbsp;фича-бранчам и&nbsp;практикуем код-ревью, у&nbsp;нас есть Unit-тесты, UI-автотесты и&nbsp;статический анализ кода</li>
              <li class="vacancies__vacancy-list-item">Постоянно учимся друг у&nbsp;друга</li>
              <li class="vacancies__vacancy-list-item">Очень гибкие в&nbsp;работе, всегда готовы меняться и&nbsp;прокачиваться</li>
            </ul>
          </div>
          <a href="https://team.vk.company/vacancy/28713/" class="vacancies__vacancy-link btn" target="_blank">Участвовать</a>
        </div>
      </li>
      <li class="vacancies__vacancy" data-accordion="element">
        <button class="vacancies__vacancy-name" data-accordion="button">Команды, в&nbsp;которые мы&nbsp;приглашаем Go-разработчиков: VK&nbsp;WorkMail</button>
        <div class="vacancies__vacancy-content" data-accordion="content">
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            VK&nbsp;WorkMail&nbsp;&mdash; это коммуникационное пространство для обмена почтовыми сообщениями. Почта доступна на&nbsp;вебе и&nbsp;мобильных платформах.
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--uncolored">
            <h3 class="vacancies__vacancy-item-title">В&nbsp;VK&nbsp;WorkMail есть всё, что нужно для работы:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Адресная книга</li>
              <li class="vacancies__vacancy-list-item">Обмен почтовыми сообщениями</li>
              <li class="vacancies__vacancy-list-item">Поиск</li>
              <li class="vacancies__vacancy-list-item">Ассистенты</li>
              <li class="vacancies__vacancy-list-item">Обмен файлами</li>
              <li class="vacancies__vacancy-list-item">Общие ящики</li>
              <li class="vacancies__vacancy-list-item">Квотирование почтовых ящиков</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--uncolored">
            <h3 class="vacancies__vacancy-item-title">У&nbsp;VK&nbsp;WorkMail есть два формата:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">On-premise на&nbsp;серверах для крупных компаний. Решение может функционировать в&nbsp;закрытом контуре</li>
              <li class="vacancies__vacancy-list-item">SaaS-решение для среднего и&nbsp;малого бизнеса</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            В&nbsp;нашей команде четыре человека. Мы&nbsp;ищем коллег, которые отлично знают&nbsp;Go, понимают, 
            как работают высоконагруженные системы и&nbsp;как масштабируются сервисы. У&nbsp;нас большие планы 
            на&nbsp;этот год: мы&nbsp;разрабатываем гибкую ролевую модель, быструю персонализацию продукта 
            под клиента&nbsp;&mdash; всё это поможет удовлетворить разные потребности клиентов.<br><br>

            Если вы&nbsp;любите экспериментировать, развивать highload-системы и&nbsp;хотите каждый день видеть результаты своей работы&nbsp;&mdash; присоединяйтесь к&nbsp;нам.
          </div>
          <div class="vacancies__vacancy-item">
            <h3 class="vacancies__vacancy-item-title">Вам предстоит:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Заниматься продуктовыми задачами и&nbsp;рефакторингом</li>
              <li class="vacancies__vacancy-list-item">Улучшать инфраструктуру и&nbsp;производительность приложения</li>
              <li class="vacancies__vacancy-list-item">Писать Unit- и&nbsp;API-тесты</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--mobile-last">
            <h3 class="vacancies__vacancy-item-title">Наш стек:</h3>
            <ul class="vacancies__vacancy-skills">
              <li class="vacancies__vacancy-skill">Go</li>
              <li class="vacancies__vacancy-skill">Perl</li>
              <li class="vacancies__vacancy-skill">C</li>
              <li class="vacancies__vacancy-skill">Lua</li>
              <li class="vacancies__vacancy-skill">Python </li>
              <li class="vacancies__vacancy-skill">Tarantool</li>
              <li class="vacancies__vacancy-skill">Docker</li>
              <li class="vacancies__vacancy-skill">Kubernetes</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--big">
            <h3 class="vacancies__vacancy-item-title">Почему у&nbsp;нас классно:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Мы&nbsp;погружены в&nbsp;продукт&nbsp;&mdash; работаем бок о&nbsp;бок с&nbsp;менеджерами, дизайнерами, аналитиками и&nbsp;QA</li>
              <li class="vacancies__vacancy-list-item">Сами оцениваем свои задачи по&nbsp;срокам</li>
              <li class="vacancies__vacancy-list-item">Работаем по&nbsp;фича-бранчам и&nbsp;практикуем код-ревью, у&nbsp;нас есть Unit-тесты, UI-автотесты и&nbsp;статический анализ кода</li>
              <li class="vacancies__vacancy-list-item">Постоянно учимся друг у&nbsp;друга</li>
              <li class="vacancies__vacancy-list-item">Очень гибкие в&nbsp;работе, всегда готовы меняться и&nbsp;прокачиваться</li>
            </ul>
          </div>
          <a href="https://team.vk.company/vacancy/28620/" class="vacancies__vacancy-link btn" target="_blank">Участвовать</a>
        </div>
      </li>
      <li class="vacancies__vacancy" data-accordion="element">
        <button class="vacancies__vacancy-name" data-accordion="button">Команды, в&nbsp;которые мы&nbsp;приглашаем Go-разработчиков: VK&nbsp;Calendar</button>
        <div class="vacancies__vacancy-content" data-accordion="content">
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            VK&nbsp;Calendar&nbsp;&mdash; это неотъемлемая часть почты и&nbsp;инструмент организации работы сотрудников любой компании.
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--uncolored">
            <h3 class="vacancies__vacancy-item-title">В&nbsp;VK&nbsp;Calendar есть всё, что нужно для работы:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Постановка встреч с&nbsp;разной периодичностью</li>
              <li class="vacancies__vacancy-list-item">Вложения во&nbsp;встречах</li>
              <li class="vacancies__vacancy-list-item">Настройка уведомлений по&nbsp;разным каналам</li>
              <li class="vacancies__vacancy-list-item">Ведение нескольких календарей с&nbsp;цветовой индикацией</li>
              <li class="vacancies__vacancy-list-item">Возможность выдачи доступа к&nbsp;календарям</li>
              <li class="vacancies__vacancy-list-item">Поддержка протокола CalDAV</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--uncolored">
            <h3 class="vacancies__vacancy-item-title">У&nbsp;VK&nbsp;Calendar есть два формата:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">On-premise на&nbsp;серверах для крупных компаний. Решение может функционировать в&nbsp;закрытом контуре</li>
              <li class="vacancies__vacancy-list-item">SaaS-решение для среднего и&nbsp;малого бизнеса</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            В&nbsp;нашей команде два человека. Мы&nbsp;ищем коллег, который отлично знает&nbsp;Go, понимает, как работают высоконагруженные системы и&nbsp;как масштабируются сервисы. У&nbsp;нас большие планы на&nbsp;этот год: мы&nbsp;расширяем работу с&nbsp;переговорками, синхронизации с&nbsp;MS&nbsp;Exchange, это поможет мигрировать клиентам со&nbsp;старых систем и&nbsp;пользоваться расширенной функциональностью событий и&nbsp;переговоров.<br><br>

            Если вы&nbsp;любите экспериментировать, развивать highload-системы и&nbsp;хотите каждый день видеть результаты своей работы&nbsp;&mdash; присоединяйтесь к&nbsp;нам.
          </div>
          <div class="vacancies__vacancy-item">
            <h3 class="vacancies__vacancy-item-title">Вам предстоит:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Заниматься продуктовыми задачами и&nbsp;рефакторингом</li>
              <li class="vacancies__vacancy-list-item">Улучшать инфраструктуру и&nbsp;производительность приложения</li>
              <li class="vacancies__vacancy-list-item">Писать Unit- и&nbsp;API-тесты</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--mobile-last">
            <h3 class="vacancies__vacancy-item-title">Наш стек:</h3>
            <ul class="vacancies__vacancy-skills">
              <li class="vacancies__vacancy-skill">Go</li>
              <li class="vacancies__vacancy-skill">Python  </li>
              <li class="vacancies__vacancy-skill">Django</li>
              <li class="vacancies__vacancy-skill">Tarantool</li>
              <li class="vacancies__vacancy-skill">Docker</li>
              <li class="vacancies__vacancy-skill">Kubernetes</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--big">
            <h3 class="vacancies__vacancy-item-title">Почему у&nbsp;нас классно:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Мы&nbsp;погружены в&nbsp;продукт&nbsp;&mdash; работаем бок о&nbsp;бок с&nbsp;менеджерами, дизайнерами, аналитиками и&nbsp;QA</li>
              <li class="vacancies__vacancy-list-item">Сами оцениваем свои задачи по&nbsp;срокам</li>
              <li class="vacancies__vacancy-list-item">Работаем по&nbsp;фича-бранчам и&nbsp;практикуем код-ревью, у&nbsp;нас есть Unit-тесты, UI-автотесты и&nbsp;статический анализ кода</li>
              <li class="vacancies__vacancy-list-item">Постоянно учимся друг у&nbsp;друга</li>
              <li class="vacancies__vacancy-list-item">Очень гибкие в&nbsp;работе, всегда готовы меняться и&nbsp;прокачиваться</li>
            </ul>
          </div>
          <a href="https://team.vk.company/vacancy/28620/" class="vacancies__vacancy-link btn" target="_blank">Участвовать</a>
        </div>
      </li>
      <li class="vacancies__vacancy" data-accordion="element">
        <button class="vacancies__vacancy-name" data-accordion="button">Команды, в&nbsp;которые мы&nbsp;приглашаем Go-разработчиков: VK&nbsp;WorkDisk</button>
        <div class="vacancies__vacancy-content" data-accordion="content">
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            VK&nbsp;WorkDisk&nbsp;&mdash; это единое хранилище файлов пользователей. 
            Сервис доступен на&nbsp;вебе и&nbsp;по&nbsp;протоколу WebDAV.
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--uncolored">
            <h3 class="vacancies__vacancy-item-title">В&nbsp;VK&nbsp;WorkDisk есть всё, что нужно для работы:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Хранение и&nbsp;шеринг файлов</li>
              <li class="vacancies__vacancy-list-item">Поиск</li>
              <li class="vacancies__vacancy-list-item">Общие папки для компаний</li>
              <li class="vacancies__vacancy-list-item">Квотирование персональных пространств</li>
              <li class="vacancies__vacancy-list-item">Доступ к&nbsp;хранилищу по&nbsp;протоколу WebDAV</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--uncolored">
            <h3 class="vacancies__vacancy-item-title">У&nbsp;VK&nbsp;WorkDisk есть два формата:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">On-premise на&nbsp;серверах для крупных компаний. Решение может функционировать в&nbsp;закрытом контуре</li>
              <li class="vacancies__vacancy-list-item">SaaS-решение для среднего и&nbsp;малого бизнеса</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-paragraph vacancies__vacancy-item vacancies__vacancy-item--big">
            В&nbsp;нашей команде три человека. Мы&nbsp;ищем коллег, который отлично знает&nbsp;Go, понимает, как работают высоконагруженные системы и&nbsp;как масштабируются сервисы. У&nbsp;нас большие планы на&nbsp;этот год: мы&nbsp;разрабатываем поддержку протокола SMB, более гибкий шеринг и&nbsp;настройки доступов к&nbsp;файлам, 
            это поможет точнее организовать управление и&nbsp;работу с&nbsp;файлами.<br><br>

            Если вы&nbsp;любите экспериментировать, развивать highload-системы и&nbsp;хотите каждый день видеть результаты своей работы&nbsp;&mdash; присоединяйтесь к&nbsp;нам.
          </div>
          <div class="vacancies__vacancy-item">
            <h3 class="vacancies__vacancy-item-title">Вам предстоит:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Заниматься продуктовыми задачами и&nbsp;рефакторингом</li>
              <li class="vacancies__vacancy-list-item">Улучшать инфраструктуру и&nbsp;производительность приложения</li>
              <li class="vacancies__vacancy-list-item">Писать Unit- и&nbsp;API-тесты</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--mobile-last">
            <h3 class="vacancies__vacancy-item-title">Наш стек:</h3>
            <ul class="vacancies__vacancy-skills">
              <li class="vacancies__vacancy-skill">Go</li>
              <li class="vacancies__vacancy-skill">Perl</li>
              <li class="vacancies__vacancy-skill">C</li>
              <li class="vacancies__vacancy-skill">Lua</li>
              <li class="vacancies__vacancy-skill">Tarantool</li>
              <li class="vacancies__vacancy-skill">Docker</li>
              <li class="vacancies__vacancy-skill">Kubernetes</li>
            </ul>
          </div>
          <div class="vacancies__vacancy-item vacancies__vacancy-item--big">
            <h3 class="vacancies__vacancy-item-title">Почему у&nbsp;нас классно:</h3>
            <ul class="vacancies__vacancy-list">
              <li class="vacancies__vacancy-list-item">Мы&nbsp;погружены в&nbsp;продукт&nbsp;&mdash; работаем бок о&nbsp;бок с&nbsp;менеджерами, дизайнерами, аналитиками и&nbsp;QA</li>
              <li class="vacancies__vacancy-list-item">Сами оцениваем свои задачи по&nbsp;срокам</li>
              <li class="vacancies__vacancy-list-item">Работаем по&nbsp;фича-бранчам и&nbsp;практикуем код-ревью, у&nbsp;нас есть Unit-тесты, UI-автотесты и&nbsp;статический анализ кода</li>
              <li class="vacancies__vacancy-list-item">Постоянно учимся друг у&nbsp;друга</li>
              <li class="vacancies__vacancy-list-item">Очень гибкие в&nbsp;работе, всегда готовы меняться и&nbsp;прокачиваться</li>
            </ul>
          </div>
          <a href="https://team.vk.company/vacancy/28620/" class="vacancies__vacancy-link btn" target="_blank">Участвовать</a>
        </div>
      </li>
    </ul>
  </div>
</section>






























